.content {
  display: flex;
  margin: auto;
  height: 771px;
}
.price-card {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  overflow: hidden;
  width: 380px;
  text-align: center;
  background-color: #334247;
  margin: 0 8px;
  position: relative;

  &__price {
    font-size: 55px;
    font-weight: 700;
    line-height: 105px;
    background-color: $color-first-column;
  }

  ._price_blue {
    background-color: $color-second-column;
  }
  ._orange {
    background-color: $color-third-column;
  }

  &__description {
    line-height: 18px;
    padding: 40px 27px;
  }
}
.title-price {
  &__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    padding-top: 33px;
  }

  &__sub-title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 33px;
  }
  &__popular {
    text-transform: uppercase;
    position: absolute;
    right: -30px;
    top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    background-color: #dc3f45;
    transform: rotate(45deg);
    width: 150px;
    overflow: hidden;
  }
}
.options-list-card {
  &__item {
    text-align: left;
    padding-left: 59px;
    line-height: 50px;
    background: url('img/green-check.svg') 22px center no-repeat;
    &:nth-child(odd) {
      background-color: #2a3438;
    }
  }
}
._blue-img {
  background: url('img/blue-check.svg') 22px center no-repeat;
}
._orange-img {
  background: url('img/orange-check.svg') 22px center no-repeat;
}
.order-btn-price {
  display: flex;
  height: 119px;

  &__btn {
    margin: auto;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: $color-first-column;
    padding: 0 33px;
    border-radius: 20px;
    transition: opacity 0.3s ease 0s;
    &:hover {
      opacity: 0.5;
    }
  }
}
._blue {
  background-color: $color-second-column;
}
._orange {
  background-color: $color-third-column;
}
